#title {
  padding-top: 50px;
}

h1 {
    color: red;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer p {
    text-align: center;   
}

#ml_billetteriebundle_commandes {
    width: 50%;
}

form[name="ml_billetteriebundle_commandes"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
}